$bg-color: #e2e2e2;
$card-white: #f3f3f3;
$accent: #38373f;
$separator-color: #e3dada;
$input-border: #353535;

$text-dark: #000000;
$text-muted: #636363;
$text-white: #ffffff;

$grade-good: #0eba7e;
$grade-bad: #bf3c3c;

$corner-radius: 15px;